# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# User's files
kaggle.json
/data
/temp
/checkpoints
/outputs
OLD_NRB_digit_recon-sequence_num-Model2.ipynb

*.ipynb_checkpoints
*.ipynb